body {
    margin:0px;
    padding:0px;
}


body {
    
    padding:0px;
    overflow: hidden;
}

/* ==================================== */
/* tabbed interface */

div#tabs {
    padding:0px;
    margin:0px;
    position:absolute;
    display:block;

    height:100%;
    width:100%;
}

div#tabs > div {
    display:block;
    height:80%;
    overflow-y: scroll;
}

.inputLabel {
    display:inline-block;
    width:100px;
    margin-bottom:15px;
}

input[type=text] {
    padding:5px;
    width: 250px;
}

select {
    padding:5px;
    background: white;
    width: 250px:
}

div.placeitem {
    cursor: default;
    padding:5px;
    background:inherit;
}

div.placeitem:hover {
    background:#ccc;
}

/* ==================================== */
/* old builtin interface */

/*

div#testmap1 {
    position:absolute;
    top:0px;
    left:0px;

    margin:0px;
    padding:0px;
    width:100%;
    height:100%;


}

div.mapdiv {
    position:absolute;
    display:inline-block;
    top:0px;
    left:210px;
    width:700px;
    height:100%;
    background:green;
}

div.inputdiv {
    position:absolute;
    top:0px;
    left:0px;
    margin:0px;
    width:200px;
    height:100%;
    background:#ddf;
    padding:5px;
}

div.inputdiv input[type=text] {
    width:90%;
    display:inline-block;
    border:1px solid black;
    padding:4px;
    margin-bottom:2px;
}

div.inputdiv label {
    display:inline-block;
    width: 90px;
    font-weight:bold;
}

*/